<div class="container">
    <h1>Bài tập lớn môn Chuyên đề</h1>
    <h2>Giảng viên hướng dẫn: Trần Thị Cẩm Giang</h2>
    <h4>Nhóm 7</h4>
    <h5>Danh sách thành viên:</h5>
    <ul>
        <li><b>Nguyễn Ngọc Lâm</b></li>
        <li>Phạm Đức Long</li>
        <li>Lê Việt Huy</li>
        <li>Đào Trọng Cường</li>
        <li>Phạm Anh Dũng</li>
    </ul>
</div>

<script src="/ask.js"></script>